.social-login 
    button.social-login--github
        span 
            i.fab.fa-github
        |Countinue with Github
    button 
        span.social-login--facebook
            i.fab.fa-facebook
        |Countinue with Facebook