.footer {
  margin-top: 50px;
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer__icon {
    color: $grey;
    font-size: 35px;
    margin-bottom: 20px;
  }
  .footer__text {
    color: $grey;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
  }
}
