.videoBlock {
  video {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    color: white;
  }
  .videoBlock__views {
    color: rgba(255, 255, 255, 0.5);
  }
}
