.user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
    .u-avatar {
      width: 80px;
      height: 80px;
    }
    .profile__username {
      font-size: 18px;
      margin-top: 15px;
    }
  }
  .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      width: 200px;
      margin-bottom: 20px;
      &:first-child button {
        background-color: #3d6885;
      }
    }
  }
  .home-videos__title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}
