.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      color: white;
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .video__comments {
    width: 100%;
    max-width: 850px;

    margin-top: 25px;
    text-align: center;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      input {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.8);
        width: 100%;
        &::placeholder {
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
    .video__comments-list {
      width: 50%;
      margin: auto;
      margin-top: 40px;
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $youtube-header;
      border-radius: 15px;

      li {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        padding: 10px;
        border-radius: 20px;
        &:nth-child(odd) {
          margin-right: auto;
          border-bottom-left-radius: 0px;
        }
        &:nth-child(even) {
          margin-left: auto;
          border-bottom-right-radius: 0px;
        }
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        span {
          margin: 0px 5px;
        }
        button {
          width: 20px;
          height: 20px;
          font-size: 5px;
          padding: 0px;
          background-color: unset;
          box-shadow: none;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
