.user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
    .profile__username {
      font-size: 18px;
      margin-top: 15px;
    }
  }
  .home-videos__title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      margin-bottom: 20px;
    }
  }
}
